.icon_row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.icon_row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon_row__icon i {
    font-size: 35px;
}
.icon_row__icon span {
    margin-top: 18px;
}
